#react-root {
  display: flex;
  height: 100vh;
  width: 100vw;

  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.25);
}

.half-page {
  width: 50%;
}

.title {
  font-size: 20px;
}
