.App {
  text-align: left;
  background-color: rgb(202, 199, 199);
  margin: 10rem;
  padding: 1rem;
}
.App-main {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.App-content {
  margin: 2rem;
  font-size: 20px;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 1rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  align-items: center;
}

.App-name {
  margin-bottom: 0rem;
}

.App-footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.App-link {
  color: gray;
}
